.calendarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  background: radial-gradient(circle, #2c2c2c 10%, transparent 10%),
    radial-gradient(circle, #2c2c2c 10%, transparent 10%),
    radial-gradient(circle, #2c2c2c 10%, transparent 10%),
    radial-gradient(circle, #2c2c2c 10%, transparent 10%);
  background-color: #121212; /* Color de fondo */
  background-size: 20px 20px; /* Tamaño de los puntos */
  background-position: 0 0, 10px 10px, 20px 0, 0 20px;
  background-repeat: repeat;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerForm {
  margin: 40px 0;
  color: #e0e0e0;
  max-width: 600px;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.formButton {
  border: none;
  margin-top: 10px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.formButton:hover {
  background-color: #45a049;
  transform: scale(1.1);
}
