@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container-card {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

.title-cards {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card {
  width: calc(33.33% - 40px);
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.puntuacion {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 10px;
}

.card .contenido-card .puntuacion {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.card .contenido-card .puntuacion .star {
  color: #f0c14b; /* Color de las estrellas */
  font-size: 18px;
  margin-right: 4px;
}

.card .contenido-card .puntuacion .star.empty {
  color: #ccc; /* Color de estrellas vacías */
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}

.card .contenido-card a:hover {
  background: #2fb4cc;
  color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonPDF {
  background-color: #2fb4cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonPDF:hover {
  background-color: #1c7d99;
}

@media only screen and (max-width: 768px) {
  .card {
    width: calc(50% - 30px);
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: calc(100% - 20px);
    margin: 10px;
  }
}
