.homepage {
  width: 100%;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #fff; /* Texto blanco para contraste con fondo negro */
  background-color: #121212; /* Fondo negro */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Bienvenida y Resumen */
.welcome {
  text-align: center;
  margin-bottom: 30px;
}

.welcome h1 {
  font-size: 24px;
  color: #007bff; /* Color corporativo */
}

.welcome p {
  font-size: 46px;
  color: #ccc; /* Color de texto gris claro */
}

.welcome span {
  font-size: 36px;
  color: #000000; /* Color de texto gris claro */
  background-color: rgba(255, 255, 255, 0.418);
  padding: 5px;
  border-radius: 10px;
}
.search-section {
  text-align: center;
  margin-bottom: 30px;
}

.search-section h2 {
  font-size: 20px;
  color: #fff; /* Color blanco para el título de búsqueda */
  margin-bottom: 15px;
}

.search-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Alinea verticalmente el contenido */
  gap: 10px; /* Espacio entre el campo de búsqueda y el botón */
}

.search-input {
  padding: 10px;
  border: 1px solid #444; /* Borde sutil */
  border-radius: 5px;
  background-color: #222; /* Fondo oscuro del input */
  color: #fff; /* Texto blanco */
  font-size: 16px;
  width: 300px; /* Ancho del campo de búsqueda */
  margin: 0; /* Elimina el margen */
}

.search-input::placeholder {
  color: #777; /* Color del placeholder */
}

.search-button {
  background-color: #007bff; /* Color corporativo */
  color: #fff; /* Texto blanco */
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3; /* Color más oscuro al pasar el ratón */
}

/* Información de Contacto */
.contact-info {
  text-align: center;
}

.contact-info h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
}

.contact-info a {
  color: #007bff; /* Color corporativo */
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
