.calendar-container {
  width: 100%;
  max-width: 1200px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.566);
}

.calendar-container .rbc-calendar {
  height: 600px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.calendar-container .rbc-event {
  border-radius: 4px;
  background-color: #3174ad;
  color: #ffffff;
  border: 1px solid #26598a;
}
